.productFlexBox{
  margin: auto;
  padding-bottom: 50px;
  width: 80%; /* FlexBox genişliği */
  height: 100%; /* FlexBox yüksekliği */
  overflow-y: auto; /* Dikey kaydırma ekle */
  padding: 10px; /* İçerik kenar boşluğu */
  scrollbar-width: none;
}

.productCard{
  background-color: #ffffff;
  box-shadow: inset;
  border-radius: 20px;
}

.productImage {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.productDetails {
  padding: 15px; /* İçerik boşluğu */
  text-align: center; /* Metni ortala */
}
.productName {
  font-size: 1.4rem; /* Ürün adı boyutu */
  font-weight: bold; /* Kalın yazı */
  margin-bottom: 10px; /* Alt boşluk */
}

.productPrice,
.productDescription {
  margin-top: 5px; /* Üst boşluk */
  font-size: 1.0rem; /* Standart yazı boyutu */
}
.actionButtons {
  border-top: 1px solid #ddd; /* Üst kenar çizgisi */
  padding: 10px; /* İçerik boşluğu */
  background-color: #ffffff; /* Hafif gri arka plan */
}


/* PRODUCT ADD */


.pAddContainer {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('path/to/your/background.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pAddFormPanel {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
}
.pAddInputMargin {
  margin-bottom: 15px;
}
.pAddButton {
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

