@import url('accessdialog.css');
@import url('adminpanel.css');
@import url('app.css');
@import url('footer.css');
@import url('login.css');
@import url('navigation.css');
@import url('products.css');
@import url('register.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .sapUiBody, .sapMBody, .sapUiSizeCompact {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}











